@import 'html5bp';

html,
body {
	height: 100%;
}

body {
	background: url('../img/body-bg.jpg') repeat scroll 0 0;
}

p {
	font-family: 'Radley', serif;
	color: #9acc96;
	font-size: 18px;
	font-style: italic;
}

#container {
	width:80%;
	max-width: 1000px;
	margin: 0 auto;
	background:#fff;
	box-shadow: 0 0 5px 5px rgba(33, 33, 33, 0.2);
	padding-top: 40px;
	padding-bottom: 40px;
	@media screen and (max-width:480px) {
		width:90%;
	}
}

#logo {
	margin:0 auto;
	text-align:center;

	img {
		max-width:90%;
		height:auto;
		margin-bottom:20px;
	}
}

#intro,
#how-about {
	max-width: 80%;
	margin: 0 auto;
	padding:0 20px;
	text-align:center;
}

#intro {
	margin-bottom: 25px;
}

#how-about {
	text-align: center;
	margin: 0 auto 25px;
}

#suggestions {
	position: relative;
	width:640px;
	margin: 0 auto 25px;
	text-align:center;

	@media screen and (max-width:800px) {
		width:300px;
	}

	p {
		font-family: 'Mr Bedfort', cursive;
		font-size: 60px;
		-webkit-transition: font-size 0.2s;
		-moz-transition: font-size 0.2s;
		transition: font-size 0.2s;

		@media screen and (max-width:800px) {
			font-size:24px;
		}
		font-weight: bold;
	}

	.sname {
		font-family: 'Mr Bedfort', cursive;
		width: 320px;
//		-webkit-transition: width 0.2s;
		@media screen and (max-width:800px) {
			width:150px;
		}

		float: left;
		text-align: center;
		padding-top: 52px;
		padding-bottom: 42px;
		margin: 0 auto;

		span {
			padding-top: 42px;
			padding-bottom: 40px;
		}
	}

	.boys-name {
		color: #88caf0;
		background: url('../img/boy-divider.png') no-repeat scroll 50% 0;
		@media screen and (max-width:800px) {
			background-image: url('../img/boy-divider-small.png');
		}
	}

	.or {
		position: absolute;
		top: 28px;
		left: 310px;
//		-webkit-transition: left,top 0.2s;
		@media screen and (max-width:800px) {
			left:140px;
			top:35px;
			font-size:18px;
		}
		font-size: 34px;
		color: #9acc96;
	}

	.girls-name {
		color: #cc9ac6;
		background: url('../img/girl-divider.png') no-repeat scroll 50% 0;
		@media screen and (max-width:800px) {
			background-image: url('../img/girl-divider-small.png');
		}
	}
}

#more-names {
	background: url('../img/more-names.png') no-repeat scroll 0 0;
	width: 136px;
	height: 82px;
	display: block;
	text-indent: -99999px;
	margin: 0 auto;
	clear: both;
	outline: 0;
	-webkit-transition: background-color 0.25s;
	-moz-transition: background-color 0.25s;
	transition: background-color 0.25s;
}

#more-names:hover {
	background-color:rgba(200,200,200,0.1);
	border-radius:15px;
}

@import 'html5bp-after';